<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bienvenido al juego de Ahorcado Digital</h1>
	<form action="/iniciar" method="POST"> 
		<input type="text" name="jugador">
		<input type="submit" name="iniciar" value="iniciar">
	</form>
</body>
</html>