<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bienvenido <%= session["J1"] %></h1>

	<table>
		<tr>
			<td> <h1><%= session["juego"].mostrarPalabra %></h1></td>
		</tr>
		<tr>
			<td>Ingrese la letra</td>
			<td>
				<form action="/buscar" method="POST"> 
					<input type="text" name="caracter">
					<input type="submit" name="buscar" value="buscar">
				</form>
			</td>
		</tr>
		<tr>
			<td>Palabra Ingresada</td>
			<td>
				<%=session["carac"] %>
			</td>
		</tr>
	</table>
</body>
</html>