<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bienvenido <%= session["J1"] %></h1>

	<table>
		<tr>
			<td><%= session["juego"].obtenerPalabra %></td>
		</tr>
		<tr>
			<td>Ingrese la letra</td>
			<td></td>
		</tr>
	</table>
</body>
</html>