<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bienvenido <%= session["J1"] %></h1>

	<table>
		<tr>
			<td><%= session["juego"].mostrarPalabra %></td>
		</tr>
		<tr>
			<td>Ingrese la letra</td>
			<td>
				<form action="/validar" method="POST"> 
					<input type="text" name="caracter">
					<input type="submit" name="buscar" value="buscar">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>